.top_slider_wrapp .flexslider .slides>li .text .wrap_text {
    max-width: 650px;    
}

.region_wrapper .dropdown .more_item span {   
    padding: 0px 0px;
    height: 55px;
    display: block;
    line-height: 4;
    width: 100%;
    text-align: center;
    z-index: 100;
}

.more_item {
	width: 150px;
}

.top_slider_wrapp .flexslider .slides>li.image .img .wrap_plaxy img { filter: none; }

.item .dark_block_animate, .top_big_banners .item .item_inner:before { background: none; }

.stores_block_wrap .stores_block.wo_image .item-stock.item-stock__position {
	margin-top: -20px;
}

.item-stock__position {
	display: flex;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width:1100px){
	.stores_block_wrap .stores_block.wo_image .item-stock.item-stock__position {
		margin-top: 20px;
		position: inherit;
		float: none;
	}
	.stores_block_wrap .stores_block:before {
		bottom: 65px;
		top: inherit;
	}	
}
@media (max-width:370px){
	.stores_block_wrap .stores_block.wo_image .item-stock.item-stock__position .item-stock__count {
		margin-bottom: 10px;
	}
}
#basket-root .basket-checkout-container .fastorder{display: none!important;}